/* global */

*, *::before, *::after {
    box-sizing: border-box;
}

body{
   background-color: $background-color;
   font-family: $font;
   font-size: $font-size;
}

.wrapper{
  display: flex;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
}

h1 {
  color: $title-color;
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  line-height: 42px;
  text-transform: uppercase;
  padding: 19px 0 0 17px;
  border-bottom: 1px solid $line-color;
  width: 100%;
  padding-bottom: 3px;
}

/* sidebar */

.wrapper .sidebar{
  width: 188px;
  height: 100%;
  background: $menu-background-color;
  padding: 30px 0px;
  position: fixed;
  z-index: 100;
}

.wrapper .sidebar h2{
  color: $color-light;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul{
  padding-left: 0;
}

.wrapper .sidebar ul li{
  padding: 15px;
}

.wrapper .sidebar ul li a{
  color: $color-light;
  font-weight: 300;
  display: block;
}

.wrapper .sidebar ul li:hover{
  background-color: #282828;
}

.wrapper .sidebar ul li:hover a{
  color: #fff;
}

/* header */

.wrapper .main_content .header{
  background: #fff;
  color: #717171;
  border-bottom: 1px solid $line-color;
  margin: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 50;
}

.header ul {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 61px;
}

.header ul > *:not(:first-child) {
  border-left: solid $line-color 1px;
  padding: 0;
}

.header li {
  display: inline-block;
  justify-content: center;
  height: 100%;
  display: flex;
  align-items: center;
}

/* main feed */

.wrapper .main_content{
  width: 100%;
  margin-left: 188px;
}

.wrapper .main_content .feed{
  color: #717171;
  line-height: 25px;
  margin-top: 78px;
}

.wrapper .main_content .feed div{
  margin-bottom: 20px;
}

/* post in feed */

.post {
  margin: 18px 18px;
  background-color: $color-light;
  display: block;
}

/* general statistic */

.date-filter{
  border-bottom: 1px solid $line-color;
  width: 100%;
  padding-bottom: 3px;
}

.date-period{
  width: 325px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
  text-align: center;
}
